/* CURRENTLY IN: styles/main.css */
html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
}

#soundcloud-player .col {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#soundcloud-player .col-left {
  width: 20%;
  height: 100%;
  background-color: #292929;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 150px;
  z-index: 1;
}

#soundcloud-player .col-right {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding-left: 20%;
}

#soundcloud-player .main {
  box-sizing: border-box;
  padding: 30px;
  margin: 30px;
}

#soundcloud-player .input {
  width: 100%;
}

#soundcloud-player .input-search {
  width: 100%;
  display: block;
}

#soundcloud-player .search.icon {
  pointer-events: initial;
  cursor: pointer;
}

#soundcloud-player .search-results {
  justify-content: center;
  margin-top: 30px;
}

#soundcloud-player .buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#soundcloud-player .resetButton {
  width: 10vw;
  height: 5vh;
  margin: 1vh;
  border-radius: 5px;
  color: white;
  background-color: rgb(233, 89, 37);
  transition: all 0.3s ease-in-out;
}

#soundcloud-player .resetButton:hover {
  transform: scale(0.95);
}

@media only screen and (max-width: 600px) {
  .js-playlist {
    overflow: hidden;
    width: 60%;
    height: 10vh;
  }
  .ui.card,
  .ui.cards > .card {
    display: flex !important;
    width: 40vw !important;
    flex-wrap: wrap !important;
    overflow: hidden !important;
    justify-content: center !important;
    align-items: center !important;
  }
  element.style {
    width: 0% !important;
  }
  iframe {
    max-width: 150px !important;
    height: 35vh;
  }

  .input {
    margin-left: 10%;
    width: 80% !important;
    margin-bottom: -10px;
  }
  .input-search {
    font-size: 12px;
    padding: 20px 0px 20px 10px !important;
  }
  .resetButton {
  }
}
